<!-- C.1. MASTHEAD -->

<header id="masthead">

    <nav class="nav-desk"> 

        <!-- C.1.1. Logo -->
        <figure class="logo" id="siteLogo" />
            {% include icons/name.html %}
        </figure>

        <!-- C.1.2. Navigation -->
        <nav class="nav">
            <ul>
                <li><a class="textLink" href="#section-different">BIO</a></li>
                <li><a class="textLink" href="#section-services">WORK</a></li>
                <li><a class="textLink" href="#section-casestudies">STUFF</a></li>
                <li><a class="textLink" href="#section-contact">HELLO</a></li>
                <li><a class="imgLink" href="http://www.facebook.com/bighousevoices" target="_blank"><img src="<?php echo get_template_directory_uri(); ?>/assets/images/site/icon-facebook.svg" alt="Facebook"></a></li>
            </ul>
        </nav>

    </nav>

    <nav class="nav-mobi"> 

        <!-- C.1.1. Logo -->
        <figure class="logo" id="siteLogo" />
            {% include icons/name-wide.html %}
        </figure>

        <!-- C.1.2. Navigation -->
        <nav class="nav">
            <ul>
                <li><a class="textLink" href="#section-different">BIO</a></li>
                <li><a class="textLink" href="#section-services">WORK</a></li>
                <li><a class="textLink" href="#section-casestudies">STUFF</a></li>
                <li><a class="textLink" href="#section-contact">HELLO</a></li>
                <li><a class="imgLink" href="http://www.facebook.com/bighousevoices" target="_blank"><img src="<?php echo get_template_directory_uri(); ?>/assets/images/site/icon-facebook.svg" alt="Facebook"></a></li>
            </ul>
        </nav>

    </nav>

</header>

<!-- C.1. END -->