<!-- C.2.4. SERVICES -->                    

<section class="section" id="section-stuff">

    <div class="figure-servicesTop"><span></span></div>

    <div class="container">

        <!-- C.2.4.1. Page Title -->

        <section class="section-header">
            <h2>{ stuff }</h2>
        </section>
        
        <section class="container">
            
            <div class="grid">
        
                <aside class="employees one-half mobi">

                    <h3>Places i've worked</h3>

                    <ul class="career">
                        <li class="employee">
                            <span class="company">Forge Technologies</span>
                            <span class="role">{ Senior Frontend Developer and Development Team Leader }</span>
                            <span class="date">May 2015 <> present</span>
                        </li>
                        <li class="employee">
                            <span class="company">Omni Studio</span>
                            <span class="role">{ Frontend Developer }</span>
                            <span class="date">Apr 2014 <> May 2015</span>
                        </li>
                        <li class="employee">
                            <span class="company">EOH Microsoft Coastal</span>
                            <span class="role">{ Frontend Developer }</span>
                            <span class="date">Jan 2012 <> Mar 2014</span>
                        </li>
                        <li class="employee">
                            <span class="company">Airborne Technologies</span>
                            <span class="role">{ Frontend Developer }</span>
                            <span class="date">Oct 2009 <> Jan 2012</span>
                        </li>
                        <li class="employee">
                            <span class="company">DFA Solutions</span>
                            <span class="role">{ Web Developer, Digital Designer and Development Team Leader }</span>
                            <span class="date">Jun 2008 <> Sep 2009</span>
                        </li>
                        <li class="employee">
                            <span class="company">NetraLink Development Services</span>
                            <span class="role">{ Web Developer and Business Owner }</span>
                            <span class="date">Feb 2006 <> May 2008</span>
                        </li>
                        <li class="employee">
                            <span class="company">NetraLink ISP</span>
                            <span class="role">{ Branch Manager, Development Department Manager and Web Developer }</span>
                            <span class="date">Jun 1999 <> Jan 2006</span>
                        </li>

                    </ul>

                </aside>

                <aside class="history one-half mobi">

                    <ul class="docs grid">

                        <li class="cv one-half">
                            <a href="https://db.tt/KzH0sLi3" target="_blank">
                                <figure class="figure-icon">{% include icons/icon--cv.html %}</figure>
                                <span>check out my cv</span>
                            </a>
                        </li>
                        
                        <li class="portfolio one-half">
                            <a href="https://db.tt/Ea28z2lO" target="_blank">
                                <figure class="figure-icon">{% include icons/icon--portfolio.html %}</figure>
                                <span>grab portfolio (80mb)</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="education">
                        
                        <li class="employee">
                            <span class="company">Certified ScrumMaster</span>
                            <span class="role">{ Scrum Alliance }</span>
                            <span class="date">2013</span>
                        </li>
                                               
                        <li class="employee">
                            <span class="company">Post Graduate Diploma in Business Administration (NQF7)</span>
                            <span class="role">{ UCT Graduate School of Business }</span>
                            <span class="date">2012</span>
                        </li>
                                                        
                        <li class="employee">
                            <span class="company">Associate in Management (NQF4)</span>
                            <span class="role">{ UCT Graduate School of Business }</span>
                            <span class="date">2008</span>
                        </li>
                                                                     
                        <li class="employee">
                            <span class="company">National Diploma in Industrial Design</span>
                            <span class="role">{ CPUT }</span>
                            <span class="date">1993 <> 1996</span>
                        </li>
                                                                                        
                        <li class="employee">
                            <span class="company">Fine Art Bridging (N4)</span>
                            <span class="role">{ Cape Town Technical College }</span>
                            <span class="date">1992</span>
                        </li>
                                                                                                                
                        <li class="employee">
                            <span class="company">Life Drawing &amp; Water Colour Illustration</span>
                            <span class="role">{ Ruth Prowse Art School }</span>
                            <span class="date">1992</span>
                        </li>
                        
                        <li class="employee">
                            <span class="company">Matric</span>
                            <span class="role">{ CBC Athlone (St Columba’s High School) }</span>
                            <span class="date">1991</span>
                        </li>
                        
                    </ul>

                </aside>
            
            </div>
        
        </section>

    </div>

</section>

<!-- C.2.4. END -->