// 1. OBJECT [ 1.5. LOGO ]  #######################################################################################

// A. GLOBAL STYLES  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. LOGO SHAPES -----------------------------------------------------------------------------------------------


.figure-image {
    
    width: 200px;   
    height: 200px;
    position: relative;
    
}

.logo--poly {
    
    position: absolute;
    width: 100%;
    height: 100%;
    
    &.d1 {
    
        background: $black;
        clip-path: polygon(0% 0%, 50% 0%, 10% 30%, 0% 30%);
    
    }
       
    &.d2 {
    
        background: $blue;
        clip-path: polygon(0% 30%, 10% 30%, 30% 100%, 0% 100%);
    
    }
       
    &.d3 {
    
        background: $black;
        clip-path: polygon(55% 0%, 65% 2.5%, 30% 30%);
    
    }
    
    &.d4 {
    
        background: $blue;
        clip-path: polygon(65% 2.5%, 70% 5%, 30% 30%);
    
    }
    
    &.d5 {
    
        background: $black;
        clip-path: polygon(70% 5%, 72.5% 7.5%, 30% 30%);
    
    }
    
    &.d6 {
    
        background: $blue;
        clip-path: polygon(72.5% 7.5%, 75.5% 15%, 30% 30%);
    
    }
    
    &.d7 {
    
        background: $blue;
        clip-path: polygon(75% 75.5%, 75.5% 15%, 30% 30%);
    
    }

}

    



// A.1. END -------------------------------------------------------------------------------------------------------

// A.2. GENERAL TYPE ----------------------------------------------------------------------------------------------

// A.2. END -------------------------------------------------------------------------------------------------------

// A.3. TABLES ----------------------------------------------------------------------------------------------------

// A.3. END -------------------------------------------------------------------------------------------------------

// A.4. SPECIAL TEXT ----------------------------------------------------------------------------------------------

// A.4. END -------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################