<!-- 1. LANDING PAGE ============================================================================================== -->

<section class="page-home" ng-controller="globalCtrl">

    <!-- C.2. MAST ------------------------------------------------------------------------------------------------ -->

    <section id="mast">
        
        <h1>Hello outside scrolleys</h1>
        
        <section class="warp">

            <div class="container">
                
                <div class="panel">
                
                    <div class="floater">

                        <h2>Hello floating panel</h2>
                        <p>This is how we float all day ...</p>
                        
                        <button>!</button>
                        <button>!</button>
                        <button>!</button>
                        <button>!</button>
                        <button>!</button>
                        <button>!</button>
                        <button>!</button>
                        <button>!</button>

                    </div>
                
                </div>

                <h1>Hello inside Scrolleys</h1>
                
                <ul class="inline">
                
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                
                </ul>
                
                <section class="grid">
                    
                    <div class="panel grid__half">
                        
                        <div class="floater">
                        
                            <h2>Hello floating panel</h2>
                            <p>This is how we float all day ...</p>
                            <button>!</button>
                            <button>!</button>
                            <button>!</button>
                            <button>!</button>
                            <button>!</button>
                            <button>!</button>
                            <button>!</button>
                            <button>!</button>
                        
                        </div>

                    </div>

                    <div class="panel grid__half">
                        
                        <div class="floater" style="text-align:right;">
                        
                            <h2>Hello floating panel</h2>
                
                            <ul class="vertical list">

                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>

                            </ul>
                            
                            <h2>Hello floating panel</h2>
                
                            <ul class="vertical list">

                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>

                            </ul>
                               
                            <h2>Hello floating panel</h2>
                
                            <ul class="vertical list">

                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>

                            </ul>
                               
                            <h2>Hello floating panel</h2>
                
                            <ul class="vertical list">

                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>
                                <li class="block button"><a>Link 001</a></li>

                            </ul>
                        
                        </div>

                    </div>
                    
                    <div aos="fade-up">
                    
                    
                        <p>WHAT?!?!?!!?!?!?!?!?</p>
                    
                    </div>
                    
                    <div class="panel" aos="fade-up">
                    
                    
                        <p>WHAT?!?!?!!?!?!?!?!?</p>
                    
                    </div>
                    
                    <div class="panel" aos="fade-up">
                    
                    
                        <p>WHAT?!?!?!!?!?!?!?!?</p>
                    
                    </div>
                    
                    <div class="panel" aos="fade-up">
                    
                    
                        <p>WHAT?!?!?!!?!?!?!?!?</p>
                    
                    </div>
                    
                    <div class="panel" aos="fade-up">
                    
                    
                        <p>WHAT?!?!?!!?!?!?!?!?</p>
                    
                    </div>

                </section>
                
                <h1>Hello inside Scrolleys</h1>
                
                <ul class="inline">
                
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                    <li class="inline__links button"><a>Link 001</a></li>
                
                </ul>
                
            </div>
            
        </section>

    </section>

    <!-- C.2. END ------------------------------------------------------------------------------------------------- -->

</section>

<!-- 1. END ======================================================================================================= -->