
<!-- C.2.1. WE ARE OBJECTIVE -->                

<section class="section section-bobDifferent" id="section-different">

    <div class="container">

        <!-- C.2.1.1. Page Title -->

        <section class="section-header">
            
            <h2>{ howzit!? }</h2>
            
            <p>hi, im Kirk ...</p>
            <p>i've been a frontend developer for a very very long time, and i really like building stuff.</p>
            
        </section>

    </div>

    <div class="figure-teamBottom"></div>

</section>

<!-- C.2.1. END -->  