
<!-- C.2.1. WE ARE OBJECTIVE -->                

<section class="section" id="section-about">

    <div class="container">

        <!-- C.2.1.1. Page Title -->

        <section class="section-header">
            
            <h2>{ howzit!? }</h2>
            
            <p>hi, im kirk ...</p>
            <p>i've been a frontend developer for a very very long time, and i really like building stuff.</p>
            <p>my journey through web design, and</p>
            
        </section>

    </div>

</section>

<!-- C.2.1. END -->  