<!-- C.2.0. WE ARE DIFFERENT -->

<section class="section section-home" id="section-home">

    <div class="wrap-content">

        <!-- C.2.0.2. Company Logo -->

        <figure class="figure-logo" id="box2">

            {% include icons/logo.html %}

        </figure>

        <!-- C.2.0.1. Page Title -->

        <section class="section-header" id="box1">
            <h2>kirk daniels</h2>
            <h1>{ frontend developer }</h1>
        </section>

        <!-- C.2.0.4. SOCIAL MEDIA -->

        <ul>
        
            <li>FB</li>
            <li>Tw</li>
            <li>Li</li>
        </ul>


    </div>


</section>

<!-- C.2.0. END -->  