
<!-- C.2.6. ARTISTS -->

<section class="section" id="section-work">

    <div class="container">

        <!-- C.2.6.1. Page Title -->

        <section class="section-header">
            <figure class="figure-header icon">{% include icons/logo.html %}</figure>
            <h2>{ my work : special moments }</h2>
        </section>

        <!-- C.2.6.2. Case Study List -->
        
        <ul class="">
            
            {% for post in site.categories['work'] %}

                <li class="grid-item">

                    <div class="wrapper">
                        <a href="{{ post.url }}">
                            <figure class="figure-thumb">
                                <img src="{{ site.url }}/assets/images/{{ post.thumb }}" alt="{{ post.description }}" />
                            </figure>
                            <aside class="aside-details">
                                <h4>{{ post.date | date: '%d %b' }}</h4>
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.description }}</p>
                            </aside>
                        </a>
                    </div>

                </li>

            {% endfor %}


        </ul>
        
        <a class="full red button" href="{{ site.url }}/work">VIEW ALL</a>

    </div>                 

</section>

<!-- C.2.6. END -->