// 0. CONFIG [ 0.1. VARIABLES ]  ######################################################################################

// A. BRAND COLOR VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. TYPOGRAPHY WEIGHT VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// The variables below are based on the default $baseline -
// which is set in Konstruct/config/config--typography

$thin:          100;
$light:         300;
$regular:       400;
$semiBold:      600;
$bold:          700;
$black:         900;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MARGIN VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// The variables below are based on the default $baseline -
// which is set in Konstruct/config/config--typography

$baseline-large:    $baseline*4;
$baseline-medium:   $baseline*2;
$baseline-small:    $baseline/2;

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################