// 1. OBJECT [ 1.1. VARIABLES ]  ######################################################################################

// A. BRAND COLOR VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. CI COLORS -----------------------------------------------------------------------------------------------------

$yak-brownDark:     #27180F;
$yak-beige:         #FEE6BD;

// A.1. END -----------------------------------------------------------------------------------------------------------



// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. FONT VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$light:             300;
$regular:           400;
$bold:              700;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. SPACING VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$baseline-small:    $baseline/2;
$baseline-medium:   $baseline*2;
$baseline-large:    $baseline*4;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################