// 1. OBJECT [ 1.2. MIXINS ]  #########################################################################################


// A. LINK HOVER MIXIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

    @mixin hover-off ($speed, $delay) {

        transition: all $speed;
        transition-delay: $delay;

    }

    @mixin hover-on ($speed, $delay) {

        transition: all $speed;
        transition-delay: $delay;

    }

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.1. ABSOLUTE EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin absolute ($padding) {
    
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    
}

// C.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C.2. POSITION EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin position ($position, $padding) {
    
    position: $position;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
    
}

// C.2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// END OF FILE ########################################################################################################