// 1. OBJECT [ 1.6. USER INPUTS ]  ####################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. Text Fields ---------------------------------------------------------------------------------------------------

.yak-textfield {
    
    background: url('../images/site/input-email__bg.png') no-repeat;
    background-size: 100% auto;
}

#input__name {
    
    background: url('../images/site/input-name__bg.png') no-repeat;
    background-size: 100% auto;
    
}

#input__email {
    
    background: url('../images/site/input-email__bg.png') no-repeat;
    background-size: 100% auto;
}



.field-item {
    
    margin-bottom: 0 !important;   
    
}

.yak-textfield {
    
    border: 0;
    font-size: $large;
    font-weight: bold;
    color: $yak-brownDark;
    text-align: center;
    width: 80% !important;
    margin: 0 auto;
    
}

::-webkit-input-placeholder {
    color:    $white;
    text-shadow: 0px 0px 20px $black;
    opacity: 0.7;
}

:-moz-placeholder {
    color:    $white;
    text-shadow: 0px 0px 20px $black;
    opacity: 0.7;
}

::-moz-placeholder {
    color:    $white;
    text-shadow: 0px 0px 20px $black;
    opacity: 0.7;
}

:-ms-input-placeholder {
    color:    $white;
    text-shadow: 0px 0px 20px $black;
    opacity: 0.7;
}



// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. Radio Buttons -------------------------------------------------------------------------------------------------

input[type="radio"] {

    margin: 0;
    position: absolute;
    z-index: -200;

}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A.3. ALL FIELD LABELS ----------------------------------------------------------------------------------------------

label {

    width: 100% !important;
    margin: 0 auto;
    text-align: center;
    
    .text {
        
        font-family: 'Friz', helvetica, arial black;
        text-align: center;
        color: $white;
        opacity: 0.6;
        font-size: $large;
        margin: $baseline auto;
        
    }

    .label__image {

        width: 100%;

    }
} 

// A.3. END -----------------------------------------------------------------------------------------------------------

// A.4. BUTTONS -------------------------------------------------------------------------------------------------------



.beer__button {
    
    width: 100%;
    margin: 0 auto;
    
    img {

        width: 100%;
        height: auto;

    }
}

.figure__button {

    width: 100%;
    margin: 0 auto;
    z-index: 100;
    text-align: center;

    .button {

        position: relative;
        font-family: 'Friz', Helvetica, Arial Black;
        color: $yak-brownDark;
        font-size: $x-large;
        padding: 18px 24px;
        margin: $baseline 0;
        border: 0;
        background: url('../images/site/beer-button__bg.png') top center no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
        
        &.next {
            
            margin-bottom: 0px;
            
        }
        
        &.back {
            
            font-size: $medium;
            padding: 8px 24px;
            
        }
        
        &.done {
            
            margin-bottom: 0px;
            
        }
        
        
        &:after {
            
            @include absolute (10px);
            content: '';
            background: $black;
            z-index: -1;
            box-shadow: 0 0 50px 24px $black;
            opacity: 0.5;
            
        }
    }
}

// A.4. END -----------------------------------------------------------------------------------------------------------

// A.5. ---------------------------------------------------------------------------------------------------------------

ul {
    
    margin: 0;
    padding: 0;
    
    li {
        
        line-height: 0;
        list-style-type: none;
        
    }
}

// A.5. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################