// 1. OBJECT [ 1.6. CAROUSEL ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. IONIC HORIZONTAL SCROLL ---------------------------------------------------------------------------------------

.section {

    width: 100%;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    
    h3 {
        
        padding: $baseline-small;
        
    }
}

.hscroller {

    width: 100%;
    position: relative;
    //padding: 0 $baseline-small;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    
    .mobile { img { width: 100%; height: auto; }}
}

.hscroller-card {

    display: inline-block;
    vertical-align: middle;
    width: 50%;

    .layer {

        display: block;
        width: 100%;

    }

    .hscroller-label,
    .hscroller-img {

        //display: none;   

    }
}

.carousel__item {

    display: block;
    text-align: center;
    padding: $baseline-small;
    margin: 0 2px;
    border-radius: 10px;
    box-shadow: 0 3px 10px $ia-grey60; 

}

// A.1. END -----------------------------------------------------------------------------------------------------------



// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    // A.1.5. HIDE ON PHONES


    // A.1.5. END
    
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .container {
        
        padding: 0;
        
    }
    

    // A.1.5. HIDE ON PHONES


    // A.1.5. END
    

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    // A.1.5. HIDE ON PHONES

    // A.1.5. END
    
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    // A.1.5. HIDE ON PHONES


    // A.1.5. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    // A.1.5. HIDE ON PHONES


    // A.1.5. END
    
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################