// 1. OBJECT [ 1.5. SECTIONS ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. DIFFERENT -----------------------------------------------------------------------------------------------------

#section-about {

    background: $kd-grey20;

    .section-header {

        h2 {
            
            color: $kd-blueLight;
            margin: 0 0 35px 0;
            line-height: normal;
            
        }

        p { 
             
            margin: 0 auto; 
            margin-bottom: $baseline; 
            color: $kd-grey70;
            line-height: normal; 
            text-align: justify; 
        }					
    }

    //B.1.2. Objective Icon

    .icon {
        
        text-align: center;
        border: 2px solid $kd-red;
        border-radius: 100%;
        
    }



// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 

    p { width: 90%; font-size: $small; }

}


// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { 

    p { width: 90%; font-size: $normal; text-align: left; }

}


// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { 

    p { width: 90%; font-size: $normal; }

}


// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { 

    p { width: 80%; font-size: $normal; }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { 

    p { width: 60%; font-size: $normal; }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
}

// END OF FILE ########################################################################################################