// 2. SECTION [ 2.5. SERVICES ]  ######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME ----------------------------------------------------------------------------------------------------------

#section-stuff {
    
    background: $black;
    background-size: cover;
    color: #818181;
    
    .section-header {
        
        margin-bottom: $baseline-large;

        h2 {
            color: $white;
            line-height: normal;
        }				
    }

    // A.1.2. Career History
    
    
    .employees {
        
        h3 { padding: 0; margin-bottom: $baseline; }
        
        .career {

            list-style-type: none;
            padding: 0;

            .employee {

                margin-bottom: $baseline-small;

                span { display: block; }
                .company { font-size: $medium; margin-left: $baseline; }
                .role { font-size: $small; }
                .date { font-size: $x-small; margin-left: $baseline; }

            }
        }
    }
    
    // A.1.2. END
    
    // A.1.3. HISTORY (CV/portfolio & education)
    
    .history {
        
        ul { list-style-type: none; padding: 0; margin: 0; 
        
            li { display: inline-block; 
            
                a { display: block; text-align: center; span { color: $kd-grey40; }}
            }
        }
    
        .figure-icon { @include icon (60px, 60px, $kd-blueLight); margin: 0; }
        
        .education { margin-top: $baseline; margin-bottom: $baseline-small;

                span { display: block; }
                .company { font-size: $medium; margin-left: $baseline; }
                .role { font-size: $small; }
                .date { font-size: $x-small; margin-left: $baseline; }
        
        }
    
    }
    
    
    // A.1.3. END
    
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { }

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { }

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) { }

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) { }

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################