// 2. SECTION [ 2.7. CONTACT ]  #######################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------

#section-contact {

    background: $black url(../images/contact/bg-contact.jpg) no-repeat fixed;
    background-size: cover;
    color: $kd-grey60;

    .section-header { 
        
        margin-bottom: $baseline-large;
        
        .icon { @include icon (150px, 150px, $white); }
    
    }
    
    p { color: $kd-grey60; width: 40%; margin: 0 auto; margin-bottom: $baseline; }
    h3 { color: $kd-grey60; width: 40%; margin: 0 auto; margin-bottom: $baseline-large; }

    .social-media {
    
        margin: 0;
        padding-left: 0;
        text-align: center!important;
    
    }
    
    .linked-in { 
        
        background: rgba($kd-grey90,0.8); padding: $baseline-large 0; margin-top: $baseline-large; 

        .logo { 

            @include icon (180px, 50px, $kd-blueLight);
            margin-left: $baseline-small;
            vertical-align: middle; 

        }

        p { vertical-align: middle; margin: 0; line-height: 50px; width: auto; }
        
    }
    
    padding-bottom: 0!important;
    text-align: center;


// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) {

    .linked-in { 
        
        .linkedin { &.logo { 

            display: block;

        }}
        
        .twitter { &.logo { 

            display: block;

        }}
        
        a { display: block; }
        p { display: block; }
        
    }

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    .linked-in { 
        
        .linkedin { &.logo { 

            display: block;

        }}
        
        .twitter { &.logo { 

            display: block;

        }}
        
        a { display: block; }
        p { display: block; }
        
    }

}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .linked-in { 
        
        .linkedin { &.logo { 

            display: block;

        }}
        
        .twitter { &.logo { 

            display: block;

        }}
        
        a { display: block; }
        p { display: block; }
        
    }

}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .linked-in { 
        
        .linkedin { &.logo { 

            display: inline-block;

        }}
        
        .twitter { &.logo { 

            display: inline-block;

        }}
        
        a { display: inline-block; }
        p { display: inline-block; }
        
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .linked-in { 
        
        .linkedin { &.logo { 

            display: inline-block;

        }}
        
        .twitter { &.logo { 

            display: inline-block;

        }}
        
        a { display: inline-block; }
        p { display: inline-block; }
        
    }

}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    
}

// END OF FILE ########################################################################################################