<!DOCTYPE html>
<html>

<!-- B. HEAD ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

{% include head.html %}

<!-- B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <body class="{{ page.page-class }}" ng-controller="ctrlWork">
        
        <!-- C. WORK AREA +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        
        <!-- C.1. SITE MASTHEAD ----------------------------------------------------------------------------------- -->
        
        {% include article-header.html %}

        <!-- C.1. END --------------------------------------------------------------------------------------------- -->
        
        <!-- C.2. SITE MAST --------------------------------------------------------------------------------------- -->
        
        <section id="mast">

            <!-- C.2.1. ARTICLE CONTENT --------------------------------------------------------------------------- -->

            {{ content }}
            
            <!-- C.2.1. End --------------------------------------------------------------------------------------- -->
            
            <!-- C.2.2. CONTACT DETAILS --------------------------------------------------------------------------- -->

            {% include home/contact.html %}
            
            <!-- C.2.2. End --------------------------------------------------------------------------------------- -->

        </section>
        
        <!-- C.2. END --------------------------------------------------------------------------------------------- -->

        <!-- C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

        <!-- D. JAVASCRIPT ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

        <!-- D.1. FOOTER JS -->
        
        {% include scripts.html %}
        
        <!-- D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        
    </body>

</html>