<!DOCTYPE html>
<html>

<!-- B. HEAD ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

{% include head.html %}

<!-- B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <body class="{{ page.page-class }}">
        
        <!-- C. WORK AREA +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        
        <!-- C.1. SITE MASTHEAD ----------------------------------------------------------------------------------- -->
        
        {% include article-header.html %}

        <!-- C.1. END --------------------------------------------------------------------------------------------- -->
        
        <!-- C.2. SITE MAST --------------------------------------------------------------------------------------- -->
        
        <section id="mast">

            <!-- C.2.1. INTRO ------------------------------------------------------------------------------------- -->

            <div class="post">

                <header class="post-header">
                    <h1 class="post-title">{{ page.title }}</h1>
                    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                </header>

                <article class="post-content">
                    {{ content }}
                </article>

            </div>
            
            <!-- C.2.1. End --------------------------------------------------------------------------------------- -->

            {% include home/contact.html %}

        </section>
        
        <!-- C.2. END --------------------------------------------------------------------------------------------- -->

        <!-- C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

        <!-- D. JAVASCRIPT ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

        <!-- D.1. FOOTER JS -->
        
        {% include scripts.html %}
        
        <!-- D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        
    </body>

</html>