<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      
    <div class="parallax">
        
        <div class="parallax__group group1">
        
            <div class="parallax__layer parallax__layer--base">

                <p>HELLO</p>

            </div>
            
        </div>
        
        <div class="parallax__group group2">

            <div class="parallax__layer parallax__layer--base">

                {{ content }}
                
            </div>
            
            <div class="parallax__layer parallax__layer--deep">

                {% include header.html %}

            </div>
            
        </div>
        
        <div class="parallax__group group3">
            
            <div class="parallax__layer parallax__layer--base">

                <h2>HEADING</h2>
                <p>This is where we add more posts of another content type</p>
                
            </div>
            
            <div class="parallax__layer parallax__layer--deep">

                <p>Im in deep ...</p>

            </div>
            
        </div>
        
        <div class="parallax__group group4">
            
            <div class="parallax__layer parallax__layer--base">

                {% include footer.html %}
                
            </div>
            
        </div>
        
    </div>  
     
  </body>

</html>