// 2. SECTION [ 2.8. FRONT ]  #########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. HOME -----------------------------------------------------------------------------------------------------

.section-home {

    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .wrap-content { @include vertical-align(relative); }

    // A.1. Components

    //A.1.1. page logo

    .figure-logo { text-align: left; margin: 0; }

    //A.1.2. page header

    .section-header {

        padding-left: $baseline;
        text-align: left;

        h1, h2 { line-height: normal; }

    }

    // A.1. End

}    

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(feature) { 

    	.section-home {
    	
    	    .wrap-content { top: 40%; }
    	    
    	    h1 { line-height: normal; }
    		
    		// A.1. Components
			
				//A.1.1. page header
				
				.section-header { padding: 0; }
				
				//A.1.4. logo
				
				.figure-logo { @include icon (200px, 150px, $ia-blueLight); }
            
    		// A.1. End
    		
    	}  

}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) { 

    	.section-home {
    	
    	    .wrap-content { top: 40%; }
    	    
    	    h1 { line-height: normal; }
			
    		
    		// A.1. Components
			
				//A.1.1. page header
				
				.section-header { padding: 0;}
				
				//A.1.4. logo
				
				.figure-logo { @include icon (200px, 150px, $ia-blueLight); padding-left: $baseline; }
				
						   		
    		// A.1. End
    		
    	}  


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    .section-home {
        
        .figure-logo { @include icon (300px, 230px, $ia-blueLight); padding-left: $baseline; }   
        
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    .section-home {
        
        .figure-logo { @include icon (300px, 230px, $ia-blueLight); padding-left: $baseline; }   
        
    }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    .section-home {
        
        .figure-logo { @include icon (300px, 230px, $ia-blueLight); padding-left: $baseline; }   
        
    }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################